body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #f4f4f4;
}

header{
    background: #333;
    color: white;
    padding: 20px;
}

nav ul{
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    text-align: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section{
    padding: 20px;
}

button{
    padding: 10px 20px;
    background: #f4f4f4;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#about {
    text-align: center;
    padding: 0px 0px;
    background: #f4f4f4;
}

.about-container {
    margin: 0;
    background: #f4f4f4;
    padding: 10px;
}

h2 {
    font-size: 28px;
    color: #333;
}

h3 {
    font-size: 22px;
    color: #555;
    margin-top: 30px;
}

p{
    font-size: 18px;
    color: #444;
    line-height: 1;
}
ul{
    text-align: left;
    list-style-type: disc;
    display: inline-block;
}
li{
    font-size: 16px;
    margin-top: 0px;
    line-height: 1.6;
}
#skills {
    text-align: center;
}
h2{
    text-align: center;
}
#skills ul {
    display: inline-block;
    text-align: left;
    list-style-position: inside;
}
#skills ul li {
    list-style-position: inside;
    text-align: left;

}
#projects {
    text-align: center;
}


/* Dark Mode Syle */
.dark-mode {
    background-color: #222;
    color: white;
}

.dark-mode header {
    background: #444;
}

.dark-mode a{
    color: lightblue;

}
.dark-mode section .about-container {
    background-color: #222;
    color: white;
    background-size: cover;
}

.dark-mode h1 {
    color: white;
}

.dark-mode h2{
    color: white;
}

.dark-mode h3 {
    color: white;
}

.dark-mode h4 {
    color: white;
}

.dark-mode h5 {
    color: white;
}

.dark-mode p {
    color: white;
}
/* Mobile Menu style
@media(max-width:768) {
    nav ul {
        display: none;
        flex-direction: column;
        background: #333;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 10px;
    }
} */

nav ul.show {
    display: flex;
}